# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of a online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

Load the data into a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [24]:
# Data loading
file_path = Path("../Resources/shopping_data.csv")
df_shopping = pd.read_csv(file_path)
df_shopping.head(10)

   CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0           1              Yes   19          15000                      39
1           2              Yes   21          15000                      81
2           3               No   20          16000                       6
3           4               No   23          16000                      77
4           5               No   31          17000                      40
5           6               No   22          17000                      76
6           7               No   35          18000                       6
7           8               No   23          18000                      94
8           9              Yes   64          19000                       3
9          10               No   30          19000                      72

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [25]:
# List dataframe data types
df_shopping.dtypes

CustomerID                 int64
Previous Shopper          object
Age                        int64
Annual Income              int64
Spending Score (1-100)     int64
dtype: object

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Answer:** All columns have an appropriate data type.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

**Answer:** We can drop the `CustomerID` column. It's not relevant for clustering since it doesn't denote any relevant characteristic of customers shopping habits.

In [26]:
# Remove the CustomerID Column
df_shopping = df_shopping.drop(columns=["CustomerID"])
df_shopping.head()

  Previous Shopper  Age  Annual Income  Spending Score (1-100)
0              Yes   19          15000                      39
1              Yes   21          15000                      81
2               No   20          16000                       6
3               No   23          16000                      77
4               No   31          17000                      40

Remove all rows with `null` values if any.

In [27]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column Previous Shopper has 0 null values
Column Age has 0 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 0 null values

Remove duplicate entries if any.

In [28]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In order to use unsupervised learning algorithms, all the features should be numeric, and also, on similar scales. Perform the following data transformations.

* The `Gender` column contains categorical data, anytime you have categorical variables, you should transform them to a numerical value, in this case, transforming `Male` to `1` and `Female` to `0` is a feasible solution.

In [29]:
# Transform Previous Customer column
def changeStatus(status):
    if status == "Yes":
        return 1
    else:
        return 0

# Along with replace() and map(), this is another way to encode the gender column into numbers.
df_shopping["Previous Shopper"] = df_shopping["Previous Shopper"].apply(changeStatus)
df_shopping.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19          15000                      39
1                 1   21          15000                      81
2                 0   20          16000                       6
3                 0   23          16000                      77
4                 0   31          17000                      40

* The `Annual Income` column is on a different scale than the other columns, it is needed to have a similar scale on all the variables in order to use unsupervised learning algorithms, so `Annual Income` should be rescaled. In this case, dividing by `1000` is the simplest approach.

In [30]:
# Transform annual income
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000
df_shopping.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19           15.0                      39
1                 1   21           15.0                      81
2                 0   20           16.0                       6
3                 0   23           16.0                      77
4                 0   31           17.0                      40

Save the cleaned DataFrame as a `CSV` file, name it as `shopping_data_cleaned.csv`.

In [31]:
# Saving cleaned data
file_path = Path("../Resources/shopping_data_cleaned.csv")
df_shopping.to_csv(file_path, index=False)