Here is a function that takes in a value x and returns x times itself. There are four parts to this function:
1. Name (`square`)
2. Parameter (`x`)
3. Code Block (`squared_value = x*x`)
4. Return statement (`return squared_value`)

In [3]:
def square(x):
    squared_value = x*x
    return squared_value

We can represent the same function with a lambda. It has no name, so we assign it to the variable `f` to demonstrate how to use it. It also has no code block, it only returns the expression `x*x`

In [4]:
f = lambda x: x*x

Both functions give the same result

In [5]:
square(5)

25

In [6]:
f(5)

25

But lambda functions are meant to be used when passed as a parameter (remember, in Python, functions are first-class variables!)

Here's a simple example: a function called `apply_function_twice` that takes in a function and applies it twice to a value `input_value`

In [7]:
def apply_function_twice(func, input_value):
    return func(func(input_value))

we can use `apply_function` to square the number 6 using `square`, `f`, or the original lambda function we assigned to `f`.

In [9]:
apply_function_twice(square, 3)

81

In [10]:
apply_function_twice(f, 3)

81

In [12]:
apply_function_twice(lambda x: x*x, 3)

81

lambda functions become really powerful when combined with Pandas, using the `apply()` method.

In [17]:
import pandas as pd

Suppose we have a dataset of candy with a handful of attributes, ratings, and costs

In [37]:
candy_df = pd.DataFrame(
    [{'candy':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
     {'candy':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
     {'candy':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
     {'candy':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
     {'candy':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
     {'candy':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
     {'candy':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
    ]
)
candy_df

             candy  has_chocolate  has_nuts  is_fruity  rating  cost
0         snickers           True      True      False     9.5  1.50
1         skittles          False     False       True     9.2  0.99
2        caramello           True     False      False     8.3  0.99
3   circus peanuts          False     False      False     2.2  0.49
4  whatchamacallit           True      True      False     7.8  1.49
5        starburst          False     False       True     8.5  1.00
6         mars bar           True     False      False     7.2  1.30

Suppose we wanted to find a candy that
1. has chocolate,
2. does not have nuts, and
3. the rating-to-cost ratio is greater than 7

we can do this with `apply()` and a lambda function that takes in the entire row as its parameter

In [41]:
candy_df[candy_df.apply(lambda row: row['has_chocolate'] == True and 
                        row['has_nuts'] == False and 
                        row['rating']/row['cost'] > 7, axis=1)]

       candy  has_chocolate  has_nuts  is_fruity  rating  cost
2  caramello           True     False      False     8.3  0.99

We can also use lambda functions to create new columns. Suppose we want to make a personalized rating value adjustment. Let's say we really like fruity candy, so fruity candy gets a +1 to the rating, and we like chocolate, but only if the candy has nuts as well, so chocolate and nuts gives a +0.75 to the rating.

Boolean values can also be numerical. If a value is `False` then that is the equivalent to 0, and if a value is `True` then that is equivalent to a value of 1.

In [46]:
candy_df['adjusted_rating'] = candy_df.apply(lambda row: row['rating'] + row['is_fruity'] * 1 + row['has_chocolate']*row['has_nuts']*0.75, axis=1)
candy_df

,candy,has_chocolate,has_nuts,is_fruity,rating,cost,adjusted_rating
0,snickers,True,True,False,9.5,1.50,10.25
1,skittles,False,False,True,9.2,0.99,10.20
2,caramello,True,False,False,8.3,0.99,8.30
3,circus peanuts,False,False,False,2.2,0.49,2.20
4,whatchamacallit,True,True,False,7.8,1.49,8.55
5,starburst,False,False,True,8.5,1.00,9.50
6,mars bar,True,False,False,7.2,1.30,7.20