In [1]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [2]:
# load in Alice in Wonderland text
alice_file = '../Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [3]:
# extract all words with 12 or more letters
p = # YOUR REGEX STRING HERE
alice_df['text'].str.extractall(p, flags=re.I).dropna()

                       0
     match
292  0      hippopotamus
578  0      nevertheless
616  0      conversation
761  0      conversation
782  0      conversation
851  0      contradicted
872  0      thoughtfully
1031 0      occasionally
1046 0      conversation
1049 0      conversation
1295 0      thoughtfully
1360 0      triumphantly
1393 0      interrupting
1553 0      straightened
1613 0      difficulties
1632 0      conversation
1688 0      conversation
1740 0      thunderstorm
1842 0      Uglification
1843 0      Uglification
1949 0      thoughtfully
1992 0      explanations
2002 0      thoughtfully
2019 0      contemptuous
2098 0      refreshments
2106 0      frontispiece
2275 0      accidentally
2402 0      triumphantly
2451 0      neighbouring

In [4]:
# Find all the words that come after "Alice" in the text and count their frequency
p = # YOUR REGEX STRING HERE
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 was        17
 said       11
 thought    11
 had        10
 could      10
            ..
 think       1
 got         1
 folded      1
 caught      1
 and         1
Name: 0, Length: 86, dtype: int64

In [5]:
# Find all the words 5 letters or longer that come after "Alice" in the text and count their frequency
p = # YOUR REGEX STRING HERE
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 thought         11
 could           10
 replied          8
 looked           8
 began            6
 hastily          4
 ventured         4
 waited           3
 indignantly      3
 heard            3
 asked            3
 called           2
 remarked         2
 noticed          2
 cautiously       2
 quite            2
 whispered        2
 guessed          2
 again            2
 herself          1
 found            1
 turned           1
 aloud            1
 desperately      1
 loudly           1
 joined           1
 gently           1
 quietly          1
 sharply          1
 sadly            1
 appeared         1
 opened           1
 timidly          1
 glanced          1
 tried            1
 after            1
 would            1
 laughed          1
 doubtfully       1
 started          1
 severely         1
 watched          1
 sighed           1
 added            1
 considered       1
 alone            1
 dodged           1
 think            1
 thoughtfully     1
 folded           1
 caught           1
 recognised       1
 angrily          1
 panted           1
 crouched         1
 remained         1
 rather           1
Name: 0, dtype: int64

In [6]:
# Find all the words 5 letters or longer that don't end in "ly" that come after "Alice" in the text and count their frequency
p = # YOUR REGEX STRING HERE
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

 thought       10
 could          8
 looked         7
 began          5
 ventured       4
 replied        3
 heard          3
 asked          3
 called         2
 guessed        2
 waited         2
 remarked       2
 quite          2
 again          2
 whispered      2
 noticed        2
 joined         1
 dodged         1
 considered     1
 after          1
 appeared       1
 recognised     1
 tried          1
 folded         1
 watched        1
 started        1
 turned         1
 caught         1
 herself        1
 added          1
 alone          1
 laughed        1
 would          1
 crouched       1
 aloud          1
 opened         1
 found          1
 think          1
Name: 0, dtype: int64